{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .product {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
        }
        .product_block {
            margin: 20px;
        }
    </style>
    <div class="product">
        {% for prod in product %}
            <div class="product_block">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ prod.name }}</h5>
                        <h6 class="card-title">Price: {{ prod.price }}</h6>
                        <h3 class="card-title">{{ prod.description }} </h3>
                        <a href="#" class="card-link">More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}